.header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 5em;
  background: #ffffff;
  z-index: 1000;
  transition: all linear 0.3s;
}
.header .left {
  width: 15%;
}
.header .left select {
  border: 0;
  font-size: 1.2em;
  font-weight: bold;
}
.header .right {
  width: 80%;
}
.header .right .input {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  border-radius: 20px;
  height: 3em;
  padding-left: 1em;
}
.header .right .input span {
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #f2f2f2;
  color: #7c7c7c;
}
.header .right .input input {
  height: 100%;
  display: flex;
  align-items: center;
  text-indent: 1em;
  border: 0;
  border-radius: 20px;
  background: #f2f2f2;
}
.header .right .input input::placeholder {
  padding-top: 0.5em;
  font-weight: bold;
}
.footer {
  border-top: 1px solid #e7e7e7;
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-top: 0.5em;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  transition: all linear 0.3s;
}
.footer .item {
  width: 18%;
  justify-content: center;
  text-align: center;
}
.footer .item .img span {
  color: #b3b3b3;
  font-size: 2em;
}
.footer .item:hover .img span {
  color: #ff6e65;
}
.footer .item:hover p {
  color: #ff6e65;
}
.footer .item p {
  color: #b3b3b3;
  text-align: center;
}
@media screen and (max-width: 320px) {
  .footer p {
    font-size: 0.8em;
  }
}
